<table class="table table-bordered" style="width: 100%; border-collapse: collapse;">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location (Lat, Long)</th>
    </tr>
  </thead>
  <tbody>
    <% @mosquito_traps.each do |trap| %>
      <tr>
        <td><%= link_to trap.name, mosquito_trap_path(trap) %></td>
        <td><%= "#{trap.latitude}, #{trap.longitude}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
